<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    
                    <div class="content">
                        <div class="wrap-drop" id="noble-gases">
                            <span>La liste des gouvernorats</span>
                            <ul class="drop">
                                <li class="selected"><a>La liste des gouvernorats</a></li>
                                <li><a>Gebeli</a></li>
                                <li><a>Tozeur</a></li>
                                <li><a>Tataouine</a></li>
                                <li><a>Zaghouan</a></li>
                                <li><a>Manouba</a></li>
                                <li><a>Kairouan</a></li>
                                <li><a>Kef</a></li>
                                <li><a>Siliana</a></li>
                                <li><a>Jendouba</a></li>
                                <li><a>Béja</a></li>
                                <li><a>Monastir</a></li>
                                <li><a>Bizerte</a></li>
                                <li><a>Ariana</a></li>
                                <li><a>Gabés</a></li>
                                <li><a>Kasserine</a></li>
                                <li><a>Medenine</a></li>
                                <li><a>Sousse</a></li>
                                <li><a>Sidi Bouzid</a></li>
                                <li><a>Sfax</a></li>
                                <li><a>Gafsa</a></li>
                                <li><a>Ben Arous</a></li>
                                <li><a>Nabeul</a></li>
                                <li><a>Mahdia</a></li>
                                <li><a>Tunis</a></li>
                                
                            </ul>
                            
                                
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                   
                        <img src="assets/img/tun.png" alt="..."/>
                   
                    
                   
                </div>
            </div>
        </div>
    </div>
</div>
